<% include partials/header %> 

<h1>View all dogs</h1>

<!--TODO: Show total results found-->

<% dogs.forEach( dog => { %> 
    <div class="card">
        <img src="<%= dog.image %>" alt="<%= dog.name %>">
        <p><span class="dname"><%= dog.name %></span>, a <%= dog.breed %>, age <%= dog.age %></p> 
        <a href="/dogs/<%= dog._id %>">Learn more about <%= dog.name %></a>
        <hr>
    </div>
<% }); %>


<% include partials/footer %> 
